$container-width: 1250px;
$container-height: 450px;

$column-1-width: auto;
$column-1-height: 450px;

$column-2-3-width: auto;
$column-2-3-height: 218px;

$column-4-width: auto;
$column-4-height: 450px;

.container {
    width: $container-width;
    height: $container-height;
    overflow: auto;
    position: relative;

    .gallery {
        display: grid;
        grid-template-columns: $column-1-width auto $column-2-3-width auto $column-4-width;
        grid-auto-flow: row;
        gap: 1rem;
        transition: transform 0.5s ease-in-out;
    }

    .column-1 {
        height: $column-1-height;
        grid-area: 1 / 1 / 3 / 3;
    }

    .column-2,
    .column-3 {
        height: $column-2-3-height;
        flex-wrap: wrap;
    }

    .column-4 {
        height: $column-4-height;
        grid-area: 1 / 4 / 3 / 6;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
